.isRouterMatched {
  font-size: 20px;
}

.dark {
  color: rgba(0, 255, 170, 0.7);
}

.light {
  color: rgba(252, 0, 252, 0.7);
}

.isRouterMatched:before {
  content: "";
  border-radius: 10px;
  width: 10px;
  min-width: 10px;
  min-height: 10px;
  height: 10px;
  position: absolute;
  background-color: crimson;
  bottom: -15px;
  left: 50%;
  transform: translateX(-50%);
}
